/*!*************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/Renderer/index.css ***!
  \*************************************************************************************/
.display {
  max-width: 1300px;
}

/*!**********************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/Panel/SpherePanel/index.css ***!
  \**********************************************************************************************/
.attribute-list {
  list-style: none;
}
.attribute-item {
  margin-top: 0.5rem;
}
.position-list {
  list-style: none;
}

.attribute-list input {
  margin-left: 0.25rem;
}

/*!**********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/Panel/index.css ***!
  \**********************************************************************************/
.control {
  padding: 1rem 0;
}

/* Control panel */
.control-list {
  list-style: none;
  display: flex;
  gap: 3rem;
}

/*!***************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/App.css ***!
  \***************************************************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
input {
  width: 3rem;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

